$minWidthSmall: "min-width: 768px";
$minWidthMedum: "min-width: 992px";
$minWidthLarge: "min-width: 1200px";
$maxWidthSmall: "max-width: 767px";
$maxWidthMedum: "max-width: 991px";
$maxWidthLarge: "max-width: 1199px";

// colors variable here 
$mainColor: #00a761;
$subColor: #5c5c5c